@{
    ViewData["Title"] = "Home Page";
    string databaseconnection = ViewData["DatabaseConnection"].ToString();
}
<header>
    <style>
        .body {
            background: url('/images/hastaneanasayfa.png') !important;
            background-size: cover !important;
        }
    </style>
</header>
<body class="body">
    <h1 class="display-">@_localization.Getkey("Hoşgeldiniz")!!</h1>
    <text>Lütfen işlem panelini görmek için giriş yapınız.</text>

</body>