@{
    ViewData["Title"] = "Home Page";
    string databaseconnection = ViewData["DatabaseConnection"].ToString();
}
<header>
    <style>
        .body {
            background: url('/images/anasayfaresmi.jpg') !important;
            background-size: cover !important;
        }
    </style>
</header>
<body class="body">
    <div class="text-center">
        <h1 class="display-4">@_localization.Getkey("Welcome").Value</h1>
        <p>Database connection: @databaseconnection</p>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</body>


