@page "/NotAuthorized"

<h1>You are not authorized to access this page.</h1>

<p>You may not have sufficient permissions or may be logged out. Please try one of the following:</p>

<ul>
    <a asp-action="Login">Log In</a>
</ul>
