@page "/NotAuthorized"

<h1>@_localization.Getkey("You are not authorized to access this page.")</h1>

<p>@_localization.Getkey("You may not have sufficient permissions or you may be logged out. Please try logging in again:")</p>

<ul>
    <a asp-action="Login">@_localization.Getkey("Giriş Yap")</a>
</ul>
