@model WebDevProje.Models.Kisi

@{
    ViewData["Title"] = "SuccessfulLogin";
}

<style>
    h1 {
        color: green;
        text-align: center;
    }
</style>

<h1>Giriş İşlemi Başarılıdır. Hoşgeldiniz @Model.Ad @Model.Soyad</h1>
